.shopby-department {
    margin: 40px 0;
    position: relative;
}

.shopby-department h2 {
    text-align: left;
    font-weight: 500;
    margin: 30px 0;
    font-size: 36px;
    color: var(--color-black);
    font-family: "Work Sans", sans-serif;
}

.image-box {
    width: 140px;
    height: 170px;
    padding: 10px 20px 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 0 15px hsla(0, 0%, 51%, .16);
    text-align: center;
    margin: 10px auto;
    background-color: white;
}
.image-box:hover {
    border-color: var(--border-hover-green);
}
.image-box img {
    width: 100%;
    height: 90px;
    display: block;
    margin: 5px auto;
}
.image-box span {
    display: block;
    padding-top: 7px;
    font-weight: 600;
    color: var(--color-black);
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
a.department-link {
    text-decoration: none;
}

.slick-prev,
.slick-next {
    top: -25px;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.slick-prev {
    right: 120px !important;
    left: auto !important;
}
.slick-next {
    right: 60px !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    color: var(--color-black);
}

.slick-prev:hover,
.slick-next:hover {
    background-color: var(--color-yellow);
    border-color: var(--color-yellow);
}
.slick-prev:hover:before,
.slick-next:hover:before {
    color: white;
}