.department-section {
    padding: 30px 0;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 40px;
    font-weight: 600;
}

.department-section .slick-prev {
    right: 150px !important;
    left: auto !important;
    top: -40px;
}

.department-section .slick-next {
    right: 90px !important;
    left: auto !important;
    top: -40px;
}

/* .product-grid-container {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 50px 10px;
} */
/* For Slick sections ONLY */
.slick-track {
  display: flex !important;
}
.slick-slide {
  height: auto;
}

/* For Grid sections ONLY */
.product-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
}

.product-slide-padding {
    padding: 0 15px;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
  .product-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .product-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .product-grid-container {
    grid-template-columns: 1fr;
  }
}
